body {
	background-color: #FAD294;
}

* {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#text {
	font-size: 18px;
}

#dry {
	font-size: 18px;
}

#wet {
	font-size: 18px;
}

.results {
	font-size: 16px;
}

.Nav_Links {
	font-size: 10px;
}


button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 0.75em;
  background-color: #8D6447;
  border-color: #BA5B3D;
  color: white; }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #2284a1; }
  button:hover, button:focus, .button:hover, .button:focus {
    color: white; }