* {
	margin:0;
	padding:0;
	background-color:#F3EFE0;
	list-style-type:none;
	text-decoration:none;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #342A14;
	margin:auto;
	background-color:#F3EFE0;
	font-weight: 900;
	}

#container {
	margin:auto;
	width:650px;
}

#header {
	height:40px;
	padding:0 0 0 0px;
	position:relative;
}

#title, #nav {
}

#title{
	width: 236px;
	padding:20px 6px;
	font-size:16px;
	float:left;
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	
}

#nav {
	margin-top:35px;
	width: 400px;
	font-size: 12px;
	float:right;
	position:relative;
	right:0px;
	text-decoration:none;
}

#nav li {
	font-size:16px;
	text-align:center;
	text-decoration:none;
	margin:0 10px;
	float:left;
	font-weight:bold;
	}

#nav li a {
	color:#755C3B;
	padding:0 10px;
}

#nav li a:hover {
	color:#000;
}



#results {
	text-align:center;
	margin:auto;
	margin-top:40px;
	padding:6px;
	height:400px;
	width:638px;
	background-color:#fff;
	
	
}
#results_top, #results_bottom {
	padding-top:12px;
	font-size: 22px;
	color: #342A14;
}

#results_top {
	height:64px;
	position:relative;
}

#results_bottom {
	padding-top:34px;
	height:284px;
	margin-top:6px;
	
}


#text {
	font-size: 24px;
	font-weight: 900;
	margin-left: 50px;
}

#dry {
	font-size: 18px;
	font-weight: 900;
	}

#wet {
	font-size: 18px;
	font-weight: 900;
}

#spacer {
	margin: 35px
}



input {
}

.form{
	background-color:#fff;
	width:90px;
}


button, .button {
border-style: solid;
border-width: 1px;
cursor: pointer;
font-family: inherit;
font-weight: bold;
line-height: 1;
margin: 2em auto 1.25em;
position: relative;
text-decoration: none;
text-align: center;
display: inline-block;
padding-top: 0.75em;
padding-right: 1.5em;
padding-bottom: 0.8125em;
padding-left: 1.5em;
font-size: 1em;
background-color: #755C3B;
border-color: #755C3B;
color: white; }
button:hover, button:focus, .button:hover, .button:focus {
	background-color: #A37E58; }
button:hover, button:focus, .button:hover, .button:focus {
	color: white; }
	