{% extends "layout.html" %}

{% block title %}
    Bread Calculator Results
{% endblock %}

{% block nav %}
	<li><a href="./breadcal.html">Baker's Percentages</a></li>
	<li><a href="./breadmaker.html">Recipe Calculator</a></li>   
{% endblock %}

{% block top %}
    <p>Your dough weighs:</p><p>
	{{dough}} grams</p>
{% endblock %}

{% block body %}
    <div>
		<p>Your percentages are:</p>
	</div>
	<div>
		<p>Flour: {{flour_percent}}  &#37;</p>
		<p>Hydration: {{water_percent | round(2)}} &#37;</p>
		<p>Salt: {{salt_percent | round(2)}} &#37;</p>
		<p>Yeast: {{yeast_percent | round(2)}} &#37;</p>
	</div>
{% endblock %}


	