{% extends "layout.html" %}

{% block title %}
    Basic Bread Recipe
{% endblock %}
    
{% block nav %}
        <li><a href="./breadcal.html">Baker's Percentages</a></li>
        <li><a href="./breadmaker.html">Recipe Calculator</a></li>      
{% endblock %}

{% block top %}
     <p>A basic recipe for bread is:</p>
{% endblock %}

{% block body %}
    <p>Flour: {{flour}} grams</p>
    <p>Water: {{water}} grams</p>
    <p>Salt: {{salt}} grams</p>
    <p>Yeast: {{yeast}} grams</p>
{% endblock %}
