<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="../static/bread.css" rel="stylesheet" type="text/css">
<title>Bread Calculator</title>
</head>

<body>
	<div class="Nav_Links">
		Baker's Percentages | <a href="breadmaker.html">Recipe Calculator</a>
		<br />
		<br />
		<br />
	</div>
		
	<div id="text">
		<p>So, you'd like to calculate your baker's percentages?</p>
		<p>Enter your ingredient amounts</p>	
	</div>
	<div id="spacer">
		</div>
	
	<form action="/breadres.html" method="post">
	<div id="dry">
		
		<p>Flour:  <input type="number" name="flour" value="" /></p>
	</div>
	<div id="wet">
		<p>Water:  <input type="number" name="water" value="" /></p>
	</div>
	<div id="dry">
		<p>Salt:  <input type="number" name="salt" value="" /></p>
		<p>Yeast:  <input type="number" name="yeast" value="" /></p>
	
	</div>
	<div id="spacer">
		</div>
	<div>
		<p><input class="button" type="submit" value="Calculate!"></input></p>
	</div>
	
</body>
</html>