{% extends "layout.html" %}

{% block title %}
    Bread at 65 Percent
{% endblock %}

{% block nav %}
    <li><a href="./breadcal.html">Baker's Percentages</a></li>
    <li>Recipe Calculator</li>
{% endblock %}
    
{% block top %}
      <p>So you want to make some typical bread?</p>
{% endblock %}

{% block body %}
    <p>Just input how much Flour you have:</p>
            
                <br />
                <form action="/breadrecipe.html" method="post">
                    <p>Flour:  <input class="form" type="Number" name="flour" value="" /> grams</p>
                    <br />
    
                    <input class= "button" type="submit" value="Calculate!"></input>
{% endblock %}

    


                    
               
              
            
                