<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bread Calculator</title>
</head>

<body>
	<form action="/breadres.html" method="post">
	<div id="dry">
		
		<p>Flour:  <input type="number" name="flour" value="" /></p>
	</div>
	<div id="wet">
		<p>Water:  <input type="number" name="water" value="" /></p>
	</div>
	<div id="dry">
		<p>Salt:  <input type="number" name="salt" value="" /></p>
		<p>Yeast:  <input type="number" name="yeast" value="" /></p>
	
	</div>
	<div>
		<p><input type="submit" value="Calculate!"></input></p>
	</div>
	
</body>
</html>